.tree {
    margin-top: -20px;
    position: relative;
    width: max-content;
    overflow: hidden;
    ul {
        position: relative;
        padding: 20px 0;
        margin: 0;
    }
    ul ul::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 20px;
        border-left: 1px solid var(--card-border);
    }
    li {
        list-style-type: none;
        float: left;
        position: relative;
        padding: 20px 5px;
        text-align: center;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 50%;
            width: 50%;
            height: 20px;
            border-top: 1px solid var(--card-border);
        }
        &::after {
            right: auto;
            left: 50%;
            border-left: 1px solid var(--card-border);
        }
        &:only-child::after,
        &:only-child::before {
            display: none;
        }
        &:only-child {
            padding-top: 0;
        }
        &:first-child::before,
        &:last-child::after {
            border: 0 none;
        }
        &:last-child::before {
            border-right: 1px solid var(--card-border);
        }
    }
    ul.column {
        padding: 0;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        &::before {
            content: none !important;
        }
        li {
            &::before,
            &::after {
                content: none;
            }
        }
        & > li  {
            padding: 0;
            margin: 5px 0;
        }
    }
}
